# node / env
node_modules
.env
.env.*
.cache
dist
coverage
# hardhat / artifacts
artifacts
cache
# OS/editor
.DS_Store
.vscode/*
!.vscode/extensions.json
# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
